* {
  margin: 0;
  box-sizing: border-box;
}

.simpleBox {
	width: 12px;
	height: 12px;
	background-color: #000000;
	margin: 1px;
	border: 1px solid green;
	position: absolute;
	top: 0;
	left: 0;
}

.randomBox {
	background-color: coral;
	width: 12px;
	height: 12px;
	position: absolute;
}

