* {
  margin: 0;
  box-sizing: border-box;
}

.main_conteiner {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	position: relative;
}

.block {
	width: 100px;
	height: 200px;
	background-color: grey;
	margin: 10px;

}

.left_content {
	justify-content: left;
}

.center_content {
	justify-content: center;
}

.botton {
	margin: 20px auto;
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 45%;
}